@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');

:root {
    --Lightgray: #C4C4C4;
    --White: white;
    --Darkgray: #8B8B8B;
    --Black: black;
    --Blue: #00B2FF;
    --Cyan: #00D0D0;
    --DarkBlue: #052473;
    --gradient: linear-gradient(90deg, var(--Blue), var(--Cyan));
}
section{
    align-content: center;
    justify-content: center;
    justify-items: center;
}
body{
    background-color:var(--White);
    overflow-x: hidden;
}
*{
    font-family: 'Roboto', sans-serif;
    margin:0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: initial;
}
*::selection{
    background: var(--Blue);
}
body{
    background-color:var(--White);
}
.btn{
    display: inline-block;
    margin-top: 1rem;
    padding:.8rem 3rem;
    border-radius: 5rem;
    background:var(--gradient);
    font-size: 1.7rem;
    color:var(--White);
    cursor: pointer;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    transition: all .3s linear;
}

.btn:hover{
    transform: scale(1.1);
    color: var(--Blue);
}
*{
    font-family: 'Roboto', sans-serif;
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: initial;
}
.section{
    padding: 2rem;
}
/* navbar */
#Navbar{
    position: sticky;
    top:0;
    z-index: 1001;
}
.navbar{
    background-image: linear-gradient(to right, var(--Blue), var(--Cyan));
}
.navbar-brand span{
    font-weight: bolder;
    color: var(--White);
}
.navbar-nav li{
    padding: 0 10px;
}
.navbar-nav li a{
    color: var(--White) !important;
    font-weight: bold;
    text-transform: uppercase;
    float:right;
    text-align: left;
}
.fa-bars{
    color:var(--White);
    font-size: 25px !important;
}
.Inicio img.img-fluid.w-75.mx-auto.text-center{
    animation: float 3s linear infinite;
}
@keyframes float{
    0%, 100%{
        transform: translateY(0rem);
    }
    50%{
        transform: translateY(-1.5rem);
    }
}
.Inicio{
    display: flex;
    align-items: center;
    justify-content: center;
}
#Inicio{
    background-image: linear-gradient(to right, var(--Blue), var(--Cyan));
    color: white;
    padding-top: 1%;
}
.promo-title{
    font-size: 40px;
    font-weight: 600;
    margin-top: 100px;
}
.Inicio .appsdescarga{
    width: 50%;
    display:-ms-grid;
    display: grid;
    grid-auto-columns:1fr;
    grid-column-gap:14px;
    grid-row-gap:14px;
    -ms-grid-columns:1fr 1fr;
    grid-template-columns:1fr 1fr;
    -ms-grid-rows: auto;
    grid-template-rows:auto;
    justify-content: center;
    margin: auto;
}
.Inicio .appsdescarga img{
    border-radius: 0.3rem;
}
.container-fo .appsdescarga{
    width: 60%;
    position: center;
    justify-content: center;
    margin: auto;
}
.container-fo .appsdescarga img{
    border-radius: 0.3rem;
}
.Aplicación  dt:nth-child(1){
    color:var(--Cyan);
    font-weight: bold;
    margin-top: 4rem;
}
.Aplicación  dt:nth-child(3){
    color:var(--Cyan);
    font-weight: bold;
    margin-top: 2rem;
}
.Benefits dt.h2.text-center{
    margin-bottom: 4rem;
}
.Benefits{
    margin-top: -4rem;
}
.Aplicación .Benefits{
    padding: 4rem;
}
.Aplicación  dt:nth-child(2){
    color:var(--Darkgray);
}
.Aplicación div.card{
    border: 0rem;margin: 1rem;
}
.Aplicación img{
    width: 5rem;
    justify-content: center;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/* Desarrolladores */
.Desarrolladores div.card{
    border: 1px solid var(--Cyan) !important;
    border-radius: 0.3rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}
.Desarrolladores dt:nth-child(1){
    color:var(--Cyan);
    margin-top: -2rem;
    font-weight: bold;
}
.Desarrolladores dt:nth-child(2){
    color:var(--Darkgray);
}
.Desarrolladores .box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1rem 2rem 1rem;
}
.Desarrolladores .box-container .box{
    position: relative;
    flex:9 9 25rem;
    margin:1rem;
    background:#fff;
    border:.2rem solid rgba(0,0,0,.2);
    border-color: #00B2FF;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    text-align: left;
    padding: 1rem 2rem 2rem;
}
.Desarrolladores div.box:nth-child(3){
    position: relative;
    flex:10 10 30rem;
    margin:1rem;
    background:#fff;
    border:.2rem solid rgba(0,0,0,.2);
    border-color: #00B2FF;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    text-align: left;
    padding: 1rem 2rem 2rem;
    transform: translateY(10%);
}
.Desarrolladores .box-container .box .title{
    color: black;
    font-size: 1.4rem;
    padding-top: 1rem;
}
.Desarrolladores .box-container .box .type{
    font-size: 1rem;
    color: #969696;
    padding: 0.1rem 0;
}
.Desarrolladores .box-container .box .price span{
    font-size: 1rem;
}
.Desarrolladores .box-container .box ul{
    padding: 1rem 0;
    list-style: none;
}
.Desarrolladores .box-container .box ul li{
    font-size: 1rem;
    color: black;
    padding: 0.1rem 0;
    text-align: justify;
}
.Desarrolladores .box-container .box img
{
    border-radius: 50%;
    border: 4px;
    object-fit: cover;
    height: 5rem;
    width: 5rem;
    float: left;
    margin-right: 0.8rem;
    margin-top: 0.8rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}
.Desarrolladores .card-title:nth-child(2){
    color: var(--Darkgray);
}
.Planes{
    margin-top: -4rem;
}
.Planes dt:nth-child(1){
    color:var(--Cyan);
    font-weight: bold;
    margin-top: 12rem;
}
.Planes dt:nth-child(2){
    color:var(--Darkgray);
}
.Planes .box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.Planes a{
    justify-content: center;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.Planes div.card{
    border: 1px solid var(--Cyan) !important;
    border-radius: 0.3rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}
/* TESTIMONIOS */
.Testimonios div.card{
    border: 1px solid var(--Cyan) !important;
    border-radius: 0.3rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}
.Testimonios dt:nth-child(1){
    color:var(--Cyan);
    margin-top: 5rem;
    font-weight: bold;
}
.Testimonios dt:nth-child(2){
    color:var(--Darkgray);
}
.Testimonios .box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1rem 2rem 1rem;
}
.Testimonios .box-container .box{
    position: relative;
    flex:9 9 25rem;
    margin:1rem;
    background:#fff;
    border:.2rem solid rgba(0,0,0,.2);
    border-color: #00B2FF;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    text-align: left;
    padding: 1rem 2rem 2rem;
}
.Testimonios div.box:nth-child(3){
    position: relative;
    flex:10 10 30rem;
    margin:1rem;
    background:#fff;
    border:.2rem solid rgba(0,0,0,.2);
    border-color: #00B2FF;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    text-align: left;
    padding: 1rem 2rem 2rem;
    transform: translateY(10%);
}
.Testimonios .box-container .box .title{
    color: black;
    font-size: 1.4rem;
    padding-top: 1rem;
}
.Testimonios .box-container .box .type{
    font-size: 1rem;
    color: #969696;
    padding: 0.1rem 0;
}
.Testimonios .box-container .box .price span{
    font-size: 1rem;
}
.Testimonios .box-container .box ul{
    padding: 1rem 0;
    list-style: none;
}
.Testimonios .box-container .box ul li{
    font-size: 1rem;
    color: black;
    padding: 0.1rem 0;
    text-align: justify;
}
.Testimonios .box-container .box img
{
    border-radius: 50%;
    border: 4px;
    object-fit: cover;
    height: 5rem;
    width: 5rem;
    float: left;
    margin-right: 0.8rem;
    margin-top: 0.8rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}
.Testimonios .card-title:nth-child(2){
    color: var(--Darkgray);
}
.Testimonios .stars{
    color: var(--Blue);
}
.Compañias div.card{
    border: 1px solid var(--Cyan) !important;
    border-radius: 10rem;
}
.Compañias dt:nth-child(1){
    color:var(--Cyan);
    font-weight: bold;
    padding-top: 6rem;
}
.Compañias dt:nth-child(2){
    color:var(--Darkgray);
}
.Compañias img{
    width: 5rem;
    justify-content: center;
    width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.Compañias h5{
    color: var(--Blue);
}
.Contáctanos div.form-group.mt-2{
    color: var(--Blue);
}
.Contáctanos dt:nth-child(1){
    color:var(--Cyan);
    font-weight: bolder;
    padding-top: 6rem;
}
.Contáctanos textarea.form-control{
    border: 1px solid var(--Cyan) !important;
    border-radius: 0.3rem;
}
.Contáctanos input.form-control{
    border: 1px solid var(--Cyan) !important;
    border-radius: 0.3rem;
    color:var(--Blue);
}
.Contáctanos dt:nth-child(2){
    color:var(--Darkgray);
    font-weight: normal;
}
.Contáctanos dt:nth-child(3){
    color:var(--Darkgray);
    font-weight: normal;
}

.contact3 .font-weight-medium {
    font-weight: 200;
}
.Contáctanos img{
    justify-content: center;
    width: 50%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}
.Contáctanos .container{
    margin: auto;
}
section.container-fo{
    background-image: linear-gradient(to right, var(--Blue), var(--Cyan));
    z-index:999;
}
footer h6.text-uppercase.fw-bold.mb-4.text-decoration-underline{
    margin-top: 1.5rem;
}