@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');

:root {
    --Lightgray: #C4C4C4;
    --White: white;
    --Darkgray: #8B8B8B;
    --Black: black;
    --Blue: #00B2FF;
    --Cyan: #00D0D0;
    --DarkBlue: #052473;
    --gradient: linear-gradient(90deg, var(--Blue), var(--Cyan));
}
html{
    overflow-x: hidden;
}
body{
    background-color:var(--White);
    overflow-x: hidden;
}
*{
    font-family: 'Roboto', sans-serif;
    margin:0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: initial;
}
*::selection{
    background: var(--Blue);
}
.btn{
    display: inline-block;
    text-decoration: none;
    margin-top: 1rem;
    padding:.4rem 1rem;
    background:var(--White);
    border: 0.1rem solid;
    border-color: var(--DarkBlue);
    font-size: 1rem;
    color:var(--DarkBlue);
    cursor: pointer;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    transition: all .3s linear;
    border-radius:.0rem;
}
.btn2{
    display: inline-block;
    text-decoration: none;
    margin-top: 1rem;
    padding:.4rem 1rem;
    background:var(--White);
    border: 0.1rem solid;
    border-color: var(--Cyan);
    font-size: 1rem;
    color:var(--Blue);
    cursor: pointer;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    transition: all .3s linear;
    border-radius:.0rem;
}
.btn:hover{
    transform: scale(1.1);
    color: var(--Blue);
}
.btn2:hover{
    transform: scale(1.1);
    color: var(--Lightgray);
}
*::selection{
    background: var(--Blue);
}
.container-fluid{
    color:var(--Cyan);
    background-color: #EDEBEB;
}
nav.nav-item {
    background-color: var(--Cyan);
}
header nav.navbar.navbar-expand-lg.navbar-light.bg-light{
    background-color: #EDEBEB;
}
nav{
    box-shadow:0px 0px 40px var(--Lightgray);
    z-index:999;
}
nav.navbar.navbar-expand-lg.navbar-light.bg-light{
    background-color: #EDEBEB!important;
}
navbar-nav{
    background-color: #EDEBEB;
}
.Inicio dt:nth-child(1){
    color:var(--Cyan);
}
.Inicio{
    margin-top: 2rem;
}
.Inicio .carousel-item:nth-child(4){
    background-color: #EDEBEB;
}
.Inicio div.card.h-100.border-0{
    background-color: #EDEBEB;
}
.Nosotros {
    margin-top: 3rem;
}
.Nosotros dt:nth-child(1){
    color:var(--Cyan);
}
.Nosotros .appsdescarga{
    margin-top: 3rem;
    width: 60%;
    display:-ms-grid;
    display:grid;
    grid-auto-columns:1fr;
    grid-column-gap:16px;
    grid-row-gap:16px;
    -ms-grid-columns:1fr 1fr;
    grid-template-columns:1fr 1fr;
    -ms-grid-rows: auto;
    grid-template-rows:auto;
}
.Nosotros dt:nth-child(2){
    color:var(--Darkgray);
}
.Novedades  dt:nth-child(1){
    color:var(--Cyan);
}
.Novedades  dt:nth-child(2){
    color:var(--Darkgray);
}
.Novedades{
    height:30%;
    margin-top: 3rem;
}
.Novedades .card-group .btn2 {
    margin-right: auto;
    margin-left: auto;
}
.Novedades .card .card-img-top{
    margin-top:2rem;
    margin-left: auto;
    margin-right: auto;
    width:70%;
    height:60%;
}
.Novedades .card-group img{
    animation: float 3s linear infinite;
}
@keyframes float{
    0%, 100%{
        transform: translateY(0rem);
    }
    50%{
        transform: translateY(-1.5rem);
    }
}
.Planes{
    margin-top: 3rem;
}
.Planes dt:nth-child(1){
    color:var(--Cyan);
}
.Planes dt:nth-child(2){
    color:var(--Darkgray);
}
.Planes .box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.Planes a{
    justify-content: center;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
a.btn.text-center{
    border: 1px solid var(--DarkBlue) !important;
    border-radius: 0rem;
}
.Planes div.card{
    border: 1px solid var(--DarkBlue) !important;
    border-radius: 0rem;
}
/* TESTIMONIOS */
.Testimonios div.card{
    border: 1px solid var(--Cyan) !important;
    border-radius: 0rem;
}
.Testimonios dt:nth-child(1){
    color:var(--Cyan);
    margin-top: 5rem;
}
.Testimonios dt:nth-child(2){
    color:var(--Darkgray);
}
.Testimonios .box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1rem 2rem 1rem;
}
.Testimonios .box-container .box{
    position: relative;
    flex:9 9 25rem;
    margin:1rem;
    background:#fff;
    border:.2rem solid rgba(0,0,0,.2);
    border-color: #00B2FF;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    text-align: left;
    padding: 1rem 2rem 2rem;
}
.Testimonios div.box:nth-child(3){
    position: relative;
    flex:10 10 30rem;
    margin:1rem;
    background:#fff;
    border:.2rem solid rgba(0,0,0,.2);
    border-color: #00B2FF;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    text-align: left;
    padding: 1rem 2rem 2rem;
    transform: translateY(10%);
}
.Testimonios .box-container .box .title{
    color: black;
    font-size: 1.4rem;
    padding-top: 1rem;
}
.Testimonios .box-container .box .type{
    font-size: 1rem;
    color: #969696;
    padding: 0.1rem 0;
}
.Testimonios .box-container .box .price span{
    font-size: 1rem;
}
.Testimonios .box-container .box ul{
    padding: 1rem 0;
    list-style: none;
}
.Testimonios .box-container .box ul li{
    font-size: 1rem;
    color: black;
    padding: 0.1rem 0;
    text-align: justify;
}
.Testimonios .box-container .box img
{
    border-radius: 50px;
    object-fit: cover;
    height: 5rem;
    width: 5rem;
    float: left;
    margin-right: 0.8rem;
    margin-top: 0.8rem;
}
.Testimonios .card-title:nth-child(2){
    color: var(--Darkgray);
}
.Testimonios .stars{
    color: var(--Blue);
}
.Compañias div.card{
    border: 1px solid var(--Cyan) !important;
    border-radius: 0rem;
}
.Compañias dt:nth-child(1){
    color:var(--Cyan);
}
.Compañias dt:nth-child(2){
    color:var(--Darkgray);
}
.Compañias img{
    width: 10rem;
    justify-content: center;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.Compañias h5{
    color: var(--Blue);
}
.Contáctanos div.form-group.mt-2{
    color: var(--Blue);
}
.Contáctanos dt:nth-child(1){
    color:var(--Cyan);
}
.Contáctanos textarea.form-control{
    border: 1px solid var(--Cyan) !important;
    border-radius: 0rem;
}
.Contáctanos input.form-control{
    border: 1px solid var(--Cyan) !important;
    border-radius: 0rem;
    color:var(--Blue);
}
.Contáctanos dt:nth-child(2){
    color:var(--Darkgray);
}
.Contáctanos dt:nth-child(3){
     color:var(--Darkgray);
 }

.contact3 .font-weight-medium {
    font-weight: 200;
}
.Contáctanos img{
    justify-content: center;
    width: 50%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}
.Contáctanos .container{
margin: auto;
}
.Contáctanos div.form-group.mt-2{
    color:var(--Blue);
}
.Contáctanos div.col-md-8{
    color:var(--Blue);
}
section.container-fo{
    background-color: #EDEBEB;
    box-shadow:0px 0px 40px var(--Lightgray);
    z-index:999;
}
footer h6{
    color: var(--Cyan);
}
footer d.text-reset.fw-bold.text-decoration-none {

    color: var(--Cyan);
}
footer h6.text-uppercase.fw-bold.mb-4.text-decoration-underline{
    margin-top: 1.5rem;
}